/* base.scss */

// $container-large-desktop: 100%;
html, body {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
}

li {
  list-style-type: none;
  padding-top:0px;
  margin: 0px;
  // text-align: center;
  font-size: 8.0vh;
}

.big-time {
  font-size: 32.0vh;
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

