<div class="row">
  <div class="col-sm-8">
    <h1>West - 512 St Clair towards Keele</h1>
    <h1 class="big-time" ng-model="nextStreetcarWestbound">{{nextStreetcarWestbound}}</h1>
   </div>
  <div class="col-sm-4">
    <ul ng-repeat="time in streetcarsWestbound">
      <li ng-model="time">{{time}}</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <h1>East - 512 St Clair towards St Clair Station</h1>
    <h1 class="big-time" ng-model="nextStreetcarEastbound">{{nextStreetcarEastbound}}</h1>
   </div>
  <div class="col-sm-4">
    <ul ng-repeat="time in streetcarsEastbound">
      <li ng-model="time">{{time}}</li>
    </ul>
  </div>
</div>