<div ng-if="happy">
  <div class="row">
    <div class="col-sm-12">
      <h1>West - 512 St Clair towards Keele</h1>
      <h1 class="big-time" ng-model="nextStreetcarWestbound">{{nextStreetcarWestbound}}</h1>        
    </div>
  </div>
  <div class="row">
    <ul>
      <div ng-repeat="time in streetcarsWestbound" class="col-sm-4">
        <li class="text-center" ng-model="time">{{time}}</li>
      </div>
    </ul>
  </div>
</div>
<div ng-if="sad">
  <div class="row">
    <div class="col-sm-12">
      <h1>East - 512 St Clair towards St Clair Station</h1>   
      <h1 class="big-time" ng-model="nextStreetcarEastbound">{{nextStreetcarEastbound}}</h1>     
    </div>
  </div>
  <div class="row">
    <ul>
      <div ng-repeat="time in streetcarsEastbound" class="col-sm-4">
        <li class="text-center" ng-model="time">{{time}}</li>
      </div>
    </ul>
  </div>
</div>